@media screen and (max-width: 991px) {
	.gallery img {
		width: 75%;
		display: block;
		margin: 0 auto;
	}
	.featured h2 {
		margin: 0 0 15px 0;
		text-align: center;
	}
}

@media screen and (max-width: 550px) {
	.title h1 {
		font-size: 2em;
	}
	.title h4 {
		font-size: 1em;
	}
	.featured h2 {
		font-size: 1.5em;
	}
	.featured h3 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 375px) {
	.title h1 {
		font-size: 1.5em;		
	}
	.title h4 {
		font-size: .8em;
	}
	.featured h2 {
		font-size: 1.2em;
	}
	.featured h3 {
		font-size: 1em;		
	}
	.gallery a {
		font-size: .8em;
	}
}