* {
	font-family: 'Lato', sans-serif;
}

body {
	display: flex;
	flex-wrap: wrap;
}

:root {
	--blue: #02b3e4;
	--black: #2d3c49;
	--grey: #7d97ad;
}

.container {
	background-color: white;
}

.logo {
	float: left;
	width: 15%;
}

.logo {
	margin: 40px 0 0 5px;
}

header h1, header h4, .gallery h3 {
	color: var(--black);
 }

.title h1 {
	margin-top: 50px;
	font-size: 3.8em;
	font-weight: 100;
	letter-spacing: 2px;
	text-shadow: -1px 1px 3px var(--grey);
}

.title h4 {
	font-weight: 800;
	letter-spacing: 1px;
}

header hr {
	border: 2px solid var(--grey);
}

.main img {
	width: 100%;
	margin-top: 30px;
	border: 2px solid var(--blue);
}

 .featured {
 	margin-top: 35px;
 }

 .featured h2 {
 	font-weight: 700;
 }

 .featured h2 {
 	color: var(--grey);
 	margin: 0 0 12px 10px;
 	letter-spacing: 1px;
 }

.gallery img {
	width: 100%;
	border: 1px solid var(--grey);
}

 .gallery h3 {
 	margin-top: 15px;
 	font-size: 2em;
 	font-weight: 700;
 	letter-spacing: 2px;
 }

.gallery p {
	margin-top: -7px;
}

a, a:active, a:hover, a:visited, a:link {
	text-decoration: none;
	color: var(--black);
	font-weight: 700;
}